.country-edit {
  margin: auto;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
  color: #1c2621;
  text-align: center;
}

.country-edit-title {
  font-size: 3rem;
  font-weight: 600;
  color: #6e7346;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px 0;
  width: 300px;
}

::placeholder {
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  color: #d97652;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .country-edit {
    width: 80%;
    font-size: 0.75rem;
    margin-bottom: 0;
  }
}
