.home {
  padding-left: 25rem;
  padding-right: 25rem;
}

.headline {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #6e7346;
}

.sub-headline {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
}

.welcome-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: justify;
}

.responsive {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 0 auto;
}

@media screen and (max-width: 1200px) {
  .home {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .headline {
    font-size: 2rem;
    font-weight: 500;
  }

  .sub-headline {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .welcome-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 1rem;
  }

}

@media screen and (max-width: 767px) {
  .home {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .headline {
    font-size: 2rem;
    font-weight: 500;
  }

  .sub-headline {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .welcome-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 1rem;
  }
}
